* {
	box-sizing: border-box;
}

.page-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 3px solid black;
}

.page-title {
	font-size: 38px;
	font-weight: bold;
	color: black;
	width: 100%;
}

.links-nav-container {
	width: 100%;
	background-color: rgb(196, 158, 108);
	border-top: 3px solid black;
}

.links-nav {
	margin: 0 auto;
	width: 100%;
	padding-right: 20px;
}

.links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style-type: none;
	max-width: 1600px;
}

.links li {
	color: black;
	font-weight: 300;
	font-size: 16px;
	padding: 3px 5px;
}

a {
	text-decoration: none;
}

.header-link:hover {
	color: rgb(255, 199, 94);
	font-weight: bold;
	border-bottom: 2px solid black;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.page-title:hover {
	color: rgb(255, 199, 94);
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 325px) {
	li.header-link {
		font-size: 14px;
	}

	ul.links {
		padding-left: 10px;
	}
}
